<!-- <!DOCTYPE html>
<html>
    {% load static %}
<head>
<title>Bob-MyProfile</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Raihan Blog"/>
<meta charset="UTF-8"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'homeku/style.css' %}">

<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>


</head>
<body id="top">
	<section><nav class="navbar navbar-expand-lg navbar-light bg-transparent" id="mainNav">
		<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item">
			  <a class="nav-link" href="/">Homepage</a>
			</li>
		  </ul>
		</div>
	  </div>
	  </nav>
	</section> -->


	{%include 'base.html'%}

	{% block content%}

	{% load static %}

<div id="cv">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{%static '/homeku/IMG-20190301-WA0001.jpg'%}" alt="Fotoku" />
		</div>
		
		<div id="name">
			<h1>Muhammad Raihan Andriqa</h1>
			<h2>1906353574</h2>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>My Profile</h1>
				</div>
				
				<div class="sectionContent">
					<ul>
						<li>Nama Lengkap   : Muhammad Raihan Andriqa</li>
						<li>Tanggal Lahir  : 13 Mei 2001</li>
						<li>Golongan Darah : A</li>
						<li>Hobi 		   : Futsal dan Ngoding</li>
					</ul>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>SMAN 68</h2>
					<p class="subDetails">2016 - 2019</p>
				</article>
				
				<article>
					<h2>Universitas Indonesia</h2>
					<p class="subDetails">2019 - Present</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>A brief of my Story</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p>Halo dunia! kenalin, nama aku rehan. Aku biasa dipanggil Bob. Aku sekarang
						sedang menempuh pendidikan di Fakultas Ilmu Komputer, jurusan Sistem informasi.
						Aku sangat senang berada di fakultas ini. Doakan aku lulus tepat waktu ya....!
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Contact Me at...</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li></li>
					<li><a href="https://www.instagram.com/raihanandr/" target="_blank"><img src="{%static '/homeku/instagram.png'%}" width="50" height="50" alt="Instagram" /></a> </li>
					<li><a href="https://www.linkedin.com/in/muhammad-raihan-andriqa-4961691b3/" target="_blank"><img src="{%static '/homeku/linkedin.png'%}" width="50" height="50" alt="linkedin" /></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>

	{% endblock %}