<!doctype html>
{% load static %}
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Hello, world!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static '../static/homeku/style.css' %}">
  </head>
<body>

  <body id="top">
    <section><nav class="navbar navbar-expand-lg navbar-light bg-transparent" id="mainNav">
        <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Homepage</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
    </section>

  <div class="container">

    <form action="" method="POST" novalidate>
      {% csrf_token %}
      {{form_status.as_p}}
      <input type="submit" value="SUBMIT"/>
    </form>



    <br><br><br>




      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Detail</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for i in  form %}
          <tr>
            <th scope="row">{{i.Matkul}}</a></th>
            <td><button type="button" class="btn btn-outline-dark"><a id="detail" href="{% url 'sutori5:detail' i.id %}" class="card-link">Detail Course</a></button></td>
            <td><button type="button" class="btn btn-outline-dark"><a id="delete" href="{% url 'sutori5:delete' i.id %}" class="card-link"> Delete Course</a></button></td>
          </tr>
          {% endfor %}
      </tbody>
    
      



</html>



