{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Hello, world!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{% static '../static/homeku/style.css' %}">
  </head>

  <body>
      
    <body id="top">
        <section><nav class="navbar navbar-expand-lg navbar-light bg-transparent" id="mainNav">
            <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/project">Back</a>
                </li>
              </ul>
            </div>
          </div>
          </nav>
        </section>


        <div class="container">

          <div class="card">
            <h1 class="card-header">{{i.Matkul}}</h1>
            <div class="card-block">
            </div>
          </div>
          <br><br><br>

        <div class="card ">
          <div class="card-block">
            <br>
            <h6 class="card-subtitle mb-2 text-muted">Dosen    :{{i.Dosen}}</h6>
            <br>
            <h6 class="card-subtitle mb-2 text-muted">Jumlah SKS: {{i.JumlahSKS}}</h6>
            <br>
            <h6 class="card-subtitle mb-2 text-muted">Ruang Kelas: {{i.ruangan}}</h6>
            <br>
            <h6 class="card-subtitle mb-2 text-muted">Semester: {{i.semestertahun}}</h6>
            <br>
            <p>Deskripsi :</p>
            <p class="card-text">
              {{i.Deskripsi}}
            </p>
          </div>
        </div>
       
       
        </div>
    


      


  </body>

</html>