/*file utama*/

*{
  box-sizing: border-box;
   scroll-behavior: smooth;
  }
 
  /*home*/

  html, body {
    margin: 0;
    padding: 0;
  }
  
  .jumbotron {
    font-family: 'Montserrat', sans-serif;
    padding: 150px 0;
    background: url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1031&q=80) center center;
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
  }
  
  .jumbotron h1 {
    font-size: 70px;
    margin-bottom: 0;
  }
  
  .jumbotron p {
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    margin: 0 0 30px;
  }
  
  .button {
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .button:hover {
    background: #fff;
    color: #000;
  }



  .atas {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 3cm;
  }

  .home .col-md-6 {
      margin-top: 5%;
      padding-left: 8%;
  }
  
  .home .col-md-5{
      margin-top: 10%;
      padding-left: 5%;
  }
  
  @media only screen and (max-width: 600px){
      .home{
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
      }  

      .deskp {
        flex: none;
      }

      .AboutMe{
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
      }

      .fotoOrganisasi{
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 80px;
      }

      .pesona{
        margin-left: 80px;
      }
      .jargon{
        margin-left: 80px;
      }

      .jargonatas{
        margin-left: 50px;
      }

      .abotme{
        margin-left: 80px;
      }
      
      .desku {
        margin-left: 40px;
      }
      
      .listku {
        width: 9cm;
        
      }

      #experience {
        text-align: center;
    }

      .p-2 {
        width: 4cm;
        height: 7cm;
      }
      

  }

  @media only screen and (max-width:1024px){
      .fotoOrganisasi {
        margin-left: 240px;
      }

      .listku {
        margin-right: 150px;
      }
  }

  @media only screen and (max-width: 768px){
      .jargon {
        margin-left: 100px;
      }

      .jargonatas {
        margin-left: 80px;
      }

      .fotoOrganisasi {
        margin-left: 150px;
      }

      .p-2 {
        width: 4cm;
        height: 7cm;
      }
  }
    
  
  
  /*AboutMe*/

  .AboutMe .col-md-6 {
      margin-top: 10%;
      padding-left: 8%;
      text-align: justify;
      background-image: url(img/produk1.png);
      background-position: 45%;
      background-size: 30%;
      background-repeat:no-repeat ;
  }

  .AboutMe .deskp {
      margin-top: 35%;
      padding-left: 10%;
  }
  
  .AboutMe .col-md-4{
      margin-top: 10%;
      padding-left: 10%;
  }

/*Education*/
 
#education {
     text-align: center;
 }

 @import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

body{
font-family: 'Raleway', sans-serif;
color: #333;
}

.hexa{
border: 0px;
float: left;
text-align: center;
height: 35px;
width: 60px;
font-size: 22px;
background: #f0f0f0;
color: #3c3c3c;
position: relative;
margin-top: 15px;
}

.hexa:before{
content: ""; 
position: absolute; 
left: 0; 
width: 0; 
height: 0;
border-bottom: 15px solid #f0f0f0;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
top: -15px;
}

.hexa:after{
content: ""; 
position: absolute; 
left: 0; 
width: 0; 
height: 0;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-top: 15px solid #f0f0f0;
bottom: -15px;
}

.timeline {
position: relative;
padding: 0;
width: 100%;
margin-top: 20px;
list-style-type: none;
}

.timeline:before {
position: absolute;
left: 50%;
top: 0;
content: ' ';
display: block;
width: 2px;
height: 100%;
margin-left: -1px;
background: rgb(213,213,213);
z-index: 5;
}

.timeline li {
padding: 2em 0;
}

.timeline .hexa{
width: 16px;
height: 10px;
position: absolute;
background: #FFD08A;
z-index: 5;
left: 0;
right: 0;
margin-left:auto;
margin-right:auto;
top: -30px;
margin-top: 0;
}

.timeline .hexa:before {
border-bottom: 4px solid #FFD08A;
border-left-width: 8px;
border-right-width: 8px;
top: -4px;
}

.timeline .hexa:after {
border-left-width: 8px;
border-right-width: 8px;
border-top: 4px solid #FFD08A;
bottom: -4px;
}

.direction-l,
.direction-r {
float: none;
width: 100%;
text-align: center;
}

.flag-wrapper {
text-align: center;
position: relative;
}

.flag {
position: relative;
display: inline;
background: rgb(255,255,255);
font-weight: 600;
z-index: 15;
padding: 6px 10px;
text-align: left;
border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
content: "";
position: absolute;
left: 50%;
top: -15px;
height: 0;
width: 0;
margin-left: -8px;
border: solid transparent;
border-bottom-color: rgb(255,255,255);
border-width: 8px;
pointer-events: none;
}

.time-wrapper {
display: block;
position: relative;
margin: 4px 0 0 0;
z-index: 14;
line-height: 1em;
vertical-align: middle;
color: #000000;
}

.direction-l .time-wrapper {
float: none;
}

.direction-r .time-wrapper {
float: none;
}

.time {
background: #FFD08A;
display: inline-block;
padding: 8px;
}


.desc {
position: relative;
margin: 1em 0 0 0;
padding: 1em;
background: rgb(254,254,254);
z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
position: relative;
margin: 1em 1em 0 1em;
padding: 1em;
z-index: 15;
}

@media(min-width: 768px){
.timeline {
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.timeline .hexa {
  left: -28px;
  right: auto;
  top: 8px;
}

.timeline .direction-l .hexa {
  left: auto;
  right: -28px;
}

.direction-l {
  position: relative;
  width: 310px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 310px;
  float: right;
  text-align: left;
}

.flag-wrapper {
  display: inline-block;
}

.flag {
  font-size: 18px;
}

.direction-l .flag:after {
  left: auto;
  right: -16px;
  top: 50%;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(254,254,254);
  border-width: 8px;
}

.direction-r .flag:after {
  top: 50%;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(254,254,254);
  border-width: 8px;
  left: -8px;
}

.time-wrapper {
  display: inline;
  vertical-align: middle;
  margin: 0;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  padding: 5px 10px;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
}

@media(min-width: 992px){
.timeline {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.direction-l {
  position: relative;
  width: 380px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 380px;
  float: right;
  text-align: left;
}
}

/*expperience*/

.fotoOrganisasi {
  float: left;
}

.listku {
  float: right;
  margin-top: 4%;
}

#experience{
text-align: center;
}
  
/*Skills*/

#skill {
  text-align: center;
}


.fotoku {
align-items: center;
justify-content: center;
}









/*Contact*/

#kontak {
  background-color: #FFD08A;
}

.sosmed {
  margin-left: 40%;
}

#comingsoon{
text-align: center;
margin-top: 300px;
background-color: #FFD08A
}

#kombak{
text-align: center;
margin-top: 50px;

}










/*story1*/



html,body,div,span,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html, body { font-family: 'Lato', helvetica, arial, sans-serif; font-size: 16px; }

.clear {clear: both;}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #444;
}

#cv {
  background: #f3f3f3;
}

.mainDetails {
  padding: 25px 35px;
  border-bottom: 2px solid #cf8a05;
  background: #ededed;
}

#name h1 {
  font-size: 2.5em;
  font-weight: 700;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  margin-bottom: -6px;
}

#name h2 {
  font-size: 2em;
  margin-left: 2px;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

#mainArea {
  padding: 0 40px;
}

#headshot {
  width: 12.5%;
  float: left;
  margin-right: 30px;
}

#headshot img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#name {
  float: left;
}


section {
  border-top: 1px solid #dedede;
  padding: 20px 0 0;
}

section:first-child {
  border-top: 0;
}

section:last-child {
  padding: 20px 0 10px;
}

.sectionTitle {
  float: left;
  width: 25%;
}

.sectionContent {
  float: right;
  width: 72.5%;
}

.sectionTitle h1 {
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  color: #cf8a05;
}

.sectionContent h2 {
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: -2px;
}

.subDetails {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 3px;
}

.keySkills {
  list-style-type: none;
  -moz-column-count:3;
  -webkit-column-count:3;
  column-count:3;
  margin-bottom: 20px;
  font-size: 1em;
  color: #444;
}

.keySkills ul li {
  margin-bottom: 3px;
}

@media all and (min-width: 602px) and (max-width: 800px) {
  #headshot {
      display: none;
  }
  
  .keySkills {
  -moz-column-count:2;
  -webkit-column-count:2;
  column-count:2;
  }
}

@media all and (max-width: 601px) {
  #cv {
      width: 95%;
      margin: 10px auto;
      min-width: 280px;
  }
  
  #headshot {
      display: none;
  }
  
  #name, #contactDetails {
      float: none;
      width: 100%;
      text-align: center;
  }
  
  .sectionTitle, .sectionContent {
      float: none;
      width: 100%;
  }
  
  .sectionTitle {
      margin-left: -2px;
      font-size: 1.25em;
  }
  
  .keySkills {
      -moz-column-count:2;
      -webkit-column-count:2;
      column-count:2;
  }
}

@media all and (max-width: 480px) {
  .mainDetails {
      padding: 15px 15px;
  }
  
  section {
      padding: 15px 0 0;
  }
  
  #mainArea {
      padding: 0 25px;
  }

  
  .keySkills {
  -moz-column-count:1;
  -webkit-column-count:1;
  column-count:1;
  }
  
  #name h1 {
      line-height: .8em;
      margin-bottom: 4px;
  }
}

@media print {
  #cv {
      width: 100%;
  }
}









